# Pingouin library for statistical modeling in Python

[Notebook for Medium article: New Python library for statistical tests â€” simpler than statsmodels, richer than scipy.stats](https://towardsdatascience.com/new-python-library-for-statistical-tests-simpler-than-statsmodels-richer-than-scipy-stats-ff380d4673c0)

In [1]:
import pingouin as pg

# t-test

In [2]:
x = [1, 2, 3, 4, 5]
y = [0, 1, 2, 3, 6]
model = pg.ttest(x, y)
print(model)

               T  dof       tail     p-val          CI95%   cohen-d   BF10  \
T-test  0.480384    8  two-sided  0.643815  [-2.28, 3.48]  0.303822  0.529

           power
T-test  0.070989

In [3]:
print(type(model)) # pandas dataframe

<class 'pandas.core.frame.DataFrame'>

In [4]:
print(f"t({model['dof'][0]}) = {model['T'][0]}, p = {model['p-val'][0]}, Bayes factor = {model['BF10'][0]}")

t(8) = 0.4803844614152615, p = 0.6438149793118909, Bayes factor = 0.529

## Analysis of variance (ANOVA)

In [5]:
dt = pg.read_dataset('anova3') 
dt.anova(dv="Cholesterol", between=["Sex", "Drug"]).round(3) # pandas method

       Source      SS  DF     MS      F  p-unc    np2
0         Sex   2.075   1  2.075  1.994  0.164  0.036
1        Drug   0.816   2  0.408  0.392  0.678  0.014
2  Sex * Drug   2.564   2  1.282  1.232  0.300  0.044
3    Residual  56.175  54  1.040    NaN    NaN    NaN

In [6]:
pg.anova(dv="Cholesterol", between=["Sex", "Drug"], data=dt).round(3) # pingouin function

       Source      SS  DF     MS      F  p-unc    np2
0         Sex   2.075   1  2.075  1.994  0.164  0.036
1        Drug   0.816   2  0.408  0.392  0.678  0.014
2  Sex * Drug   2.564   2  1.282  1.232  0.300  0.044
3    Residual  56.175  54  1.040    NaN    NaN    NaN

## Linear regression

In [7]:
import seaborn as sns
iris = sns.load_dataset("iris")

X = iris[['sepal_length', 'sepal_width']]
y = iris['petal_length']
pg.linear_regression(X, y)

,names,coef,se,T,pval,r2,adj_r2,CI[2.5%],CI[97.5%]
0,Intercept,-2.524762,0.563440,-4.480979,1.484032e-05,0.867686,0.865886,-3.638250,-1.411273
1,sepal_length,1.775593,0.064405,27.569160,5.847914e-60,0.867686,0.865886,1.648313,1.902872
2,sepal_width,-1.338623,0.122358,-10.940240,9.429194e-21,0.867686,0.865886,-1.580431,-1.096816